html, body {
      margin: 0;
      font-family: Arial, sans-serif;
      height: 100%;
      padding: 0;
    }

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 70%;
	margin-bottom: -50px;
}
    .content {
	    flex: 1;
	    padding-bottom: 50px;
	   }

	  .image-wrapper {
		  position: relative;
		  bottom: 0%;
		  width: 100%;
		  text-align: center;
		  padding: 20px 0;
		  z-index: 1;
	  }


.navbar {
        background-color: #333;
}

   .navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    li {
            float: left;
    }

    li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
           }


    li a:hover:not(.dropdown .dropbtn) {
      background-color: #04aa6D;
    }

    li.dropdown {
            display: inline-block;
    }
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

li.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

li a.active {
  background-color: #04aa6d;
}
    .footer {
      background-color: #04AA6D;
      padding: 20px;
      color: white;
      text-align: center;
      width:100%;
      position: relative;
      bottom: 0;
    }

    .footer ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    .footer li {
      margin: 0 10px;
    }

.footer li a:hover {
      text-decoration: underline;
}

.footer,
.push {
	height: 50px;
}





